.md-modal {
	background: rgba(0, 0, 0, 0.2);
	display: none;
	height: 100%;
	left: 50%;
	min-width: 320px;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.5s ease;
	width: 100%;
	z-index: 2000;
}

.md-show {
	display: block;
	opacity: 1;
}

.md-hidden {
	display: none;
	opacity: 0;
}
